<h1>Add Image</h1>
<form class="form-group" action="/$user.getId()/restaurants/$restaurant.getId()/imageAdded" method="post">
  <label for="url">Image URL</label>
  <input type="text" name="url" placeholder="enter image url" required>
  <button type="submit" class="btn btn-default">Add Image</button>
</form>
