#if($user.getPermission().equals("user"))
<h1>Nice Try...</h1>
#else
<h1>Users</h1>
<ul>
  #foreach($useer in $users)
  <li><a href="/$user.getId()/users/$useer.getId()">$useer.getUsername()</a></li>
  <ul>
    <li><a href="/$user.getId()/users/$useer.getId()/delete">Delete $useer.getUsername()</a></li>
    <li><a href="/$user.getId()/users/$useer.getId()/update">Update $useer.getUsername()</a></li>
  </ul>
  #end
</ul>

<a href="/$user.getId()/adminHome">Go Back</a>
#end
